$content-width:    800px;
$on-palm:          700px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

#logo {
    background-color: $picnic-highlight;
    border-bottom: 1px solid $picnic-gray-border;

    margin-bottom: $picnic-separation;
    padding: $picnic-separation;
    padding-top: 60px;
}

#avatar {
    margin-right: 20px;
    padding: 0px;
    border: solid black 2px;

    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#logo-desktop {
    display: inline-block;

    padding: 0px;
    border: none;
    margin: 0px;

    background: none;
    font-size: 12px;
    line-height: 1;

    @include media-query($on-palm) {
        display: none;
    }
}

#logo-mobile {
    display: none;

    padding: 0px;
    border: none;
    margin: 0px;

    font-size: 36px;

    @include media-query($on-palm) {
        display: inline-block;
    }
}

#content {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
}

#footer {
    background-color: $picnic-highlight;
    border-top: 1px solid $picnic-gray-border;

    margin-top: 40px;
    padding: $picnic-separation;

    // makes box extend to bottom of screen
    border-bottom: 1px solid $picnic-highlight;
}
