$picnic-primary: #2a7ae2;
$picnic-highlight: lighten($picnic-primary, 40%);
$picnic-gray-border: #e8e8e8;
$picnic-gray-summary: #404040;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$small-font-size: $base-font-size * 0.875;
