<nav>
  <a class="brand icon-home" href="{{ get_url(path="/") | safe }}">Home</a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">&#9776;</label>

  <div class="menu">
    {% set root = get_section(path="_index.md") %}
    {% for section in root.subsections %}
    {{ macros::navlink(item=get_section(path=section)) }}
    {% endfor %}

    {% for page in root.pages %}
    {{ macros::navlink(item=page) }}
    {% endfor %}
  </div>
</nav>

<div id="logo">
  <img src="{{ get_url(path="images/inari-avatar-200.jpg") | safe }}" id="avatar" alt="Photo of plush foxes from Fushimi Inari-Taisha shrine in Kyoto, Japan" />
  <pre id="logo-desktop">                               .8888b                   dP
                               88   '                   88
88d8b.d8b. .d8888b. 88d8b.d8b. 88aaa  88d888b. .d8888b. 88d888b.
88'`88'`88 88ooood8 88'`88'`88 88     88'  `88 88'  `88 88'  `88
88  88  88 88.  ... 88  88  88 88     88       88.  .88 88.  .88
dP  dP  dP `88888P' dP  dP  dP dP     dP       `88888P' 88Y8888'  .de</pre>

  <div id="logo-mobile">memfrob.de</div>
</div>
