{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<article>

  <header>
    <h1>{{ section.title }}</h1>
  </header>

  <main class="flex one two-500">
    <div>
      {% set section = get_section(path="posts/_index.md") %}
      <h2>{{ section.title }}</h2>

      {% for page in section.pages | sort(attribute="date") | reverse %}
      <h3><a href="{{ get_url(path=page.path) | safe }}">{{ page.title }}</a></h3>
      <p class="sub-heading">{{ macros::postmeta(page=page) }}</p>
      <p class="summary">
        {{ page.description }}
      </p>
      {% endfor %}
    </div>

    <div>
      {% set section = get_section(path="projects/_index.md") %}
      <h2>{{ section.title }}</h2>

      {% for page in section.pages %}
      <h3><a href="{{ get_url(path=page.path) | safe }}">{{ page.title }}</a></h3>
      <p class="summary">
        {{ page.description }}
      </p>
      {% endfor %}
    </div>
  </main>

</article>
{% endblock content %}
